/* body {
    background-image: url("../../../assets/images/navyblue.jpg");
} */

/* #blurbContainer {
    height: 500px; 
} */

#blurb {
    float: left;
    margin-top: 20px; 
    font-size: 35px; 
    color: white;
    font-family: 'Poiret One', cursive;
}

#blurb2 {
    float: right; 
    margin-top: 20px; 
    font-size: 50px; 
    color: white;
}

  ul {
    background: none;
    padding: 30px;
    margin: 40px auto;
    width: 400px;
    border-radius: 40px; 
  }
  
  li {
    background: white;
    border-radius: 8px;
    display: block;
    height: 40px;
    margin: 40px auto;
    width: 270px;
  }
  
  .l { 
    margin-left: 1px; 
    height: 105px; 
    color: white; 
    background-color: rgba(32, 129, 255, 0.867);
    font-size: 17px; 
    padding: 17px 
  }
  
  .r { 
    margin-right: 1px; 
    height: 50px; 
  }

  #convo {
    margin-top: -90px; 
  }