  ul {
    background: none;
    padding: 30px;
    margin: 40px auto;
    margin-top: 90px; 
    width: 400px;
    border-radius: 40px; 
  }
  
  li {
    background: rgb(224, 224, 224);
    border-radius: 8px;
    display: block;
    height: 40px;
    margin: 40px auto;
    width: 270px;
  }
  
  .l { 
    margin-left: -10px; 
    height: 86px; 
    color: white; 
    background-color: rgba(60, 144, 253, 0.867);
    font-size: 17px; 
    padding: 17px;
    margin-top: 30px; 
  }
  
  .r { 
    margin-right: -20px; 
    height: 72px; 
    padding: 16px
  }

  #convo {
    margin-top: -90px; 
  }

  #convo2 {
    margin-top: 140px; 
    margin-left: 185px; 
    color: #a65ceb;
    text-align: center; 
    font-size: 42px; 
    font-weight: bold; 
    font-family: 'Poiret One', cursive;
    /* transform: rotate(-90deg); */
  }
 
  #convo3 {
    margin-left: 187px; 
    color: white;
    background-color: rgb(58, 57, 57);
    padding: 4px; 
    font-size: 26px; 
    font-family: 'Poiret One', cursive;
    /* transform: rotate(-90deg); */
  }

  #convo4 {
    margin-left: 189px; 
    color: white;
    font-size: 60px; 
    font-family: 'Poiret One', cursive;
    /* transform: rotate(-90deg); */
  }

  #convo4 span {
    color: #a65ceb;
    font-weight: bold; 
  }

  #convo5 {
    margin-left: 260px; 
    margin-top: -17px; 
    color: white;
    font-size: 34px; 
    font-family: 'Poiret One', cursive;
    /* transform: rotate(-90deg); */
  }


  #convo6 {
    margin-left: 380px; 
    margin-top: -17px; 
    color: white;
    font-size: 34px; 
    font-family: 'Poiret One', cursive;
    /* transform: rotate(-90deg); */
  }

  #convo7 {
    margin-left: 187px; 
    margin-top: 5px; 
    color: white; 
    background-color: #a65ceb;
    /* background-color: #353535; */
    text-align: center; 
    padding: 4px; 
    font-size: 53px; 
    border-radius: 5px; 
    font-family: 'Poiret One', cursive;
    /* transform: rotate(-90deg); */
  }