
.container {
    height: 30;
}

h1 {

    font-family: 'Pacifico', cursive;
    color:rgb(21, 7, 54);
    font-size: 26px;
    text-align: center; 
    margin-top: 10px; 
    padding: 2px;
}

hr {
    background-color: rgb(207, 206, 209);
    opacity: 0.95;
}

#scrolly {
    background-color: white;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(49, 33, 49);
    margin: 10;
    height: 90;
    opacity: 0.95;
    width: 75;
    cursor: pointer;
    padding: 2px;
    margin-top: 9px;
    border-radius: 25px;
}

#scrolly:hover {
    background-color: white;
    opacity: 1;
} 

#sugCaps h4 {
    font-family: 'Raleway Dots', cursive;
    color: black; 
    font-weight: bold; 
}