#fullGallery-custom {
    background-color: rgb(37, 35, 35);
    opacity: .9;
    padding: 15px;
    text-align: center
}

#requestHeader-custom {
    color: white;
    float: left;
    font-family: 'Raleway Dots', cursive;
    z-index: 2;
    background: rgb(72, 15, 124);
    opacity: .9px;
    padding: 15px;
    text-align: center;
    border-radius: 20px; 
}