#fullGallery {
    background-color: rgb(37, 35, 35);
    opacity: .9;
    margin-left: 200px;
    margin-top: 30px;
    padding: 15px;
    width: 700px;
    height: 500px;
}

#requestHeader {
    color: white;
    float: left;
    font-family: 'Raleway Dots', cursive;
    z-index: 2;
}