body {
    background: url("../images/mainback5.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#infinite-card {
        width: 100%;
        background-color: transparent;
}

#request-card-dash {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
}