
.container {
    height: 30;
}

#communityHeader {
    font-family: 'Raleway Dots', cursive;
    color:rgb(21, 7, 54);
    font-size: 26px;
    text-align: center; 
    margin-top: 10px; 
    padding: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #1a0944;
    opacity: 0.89;
    color: white;
}

hr {
    background-color: rgb(207, 206, 209);
    opacity: 0.95;
}


#scrolly {
    background-color: rgb(25, 7, 34);
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(252, 249, 249);
    margin: 10;
    height: 90;
    cursor: pointer;
    padding: 10px;
    margin-top: 12px;
    border: 1.5px solid white; 
    margin-left: 1.1px; 
    margin-right: .7px;
}

#scrolly:hover {
    background-color: rgb(75, 74, 74);
    opacity: 0.90;
    color: white;
} 
