#howTo {
    /* color: rgb(82, 82, 83); */
    color: white;
    /* color: #b362ff; */
    font-family: 'Raleway Dots', cursive;
    /* font-family: 'Poiret One', cursive; */
    margin: 0 auto; 
    text-align: center; 
    font-size: 70px;
    margin-bottom: -20px;
}

.fa-camera {
  color: rgb(236, 236, 236);
  font-size: 50px;
}

@media only screen and (max-width: 1100px) {
  #howTo { 
    margin-bottom: 20px; 
    font-size: 50px; 
  }
}

