
    #communityHeader {
        font-family: 'Raleway Dots', cursive;
        color:rgb(21, 7, 54);
        font-size: 26px;
        text-align: center; 
        margin-top: 10px; 
        padding: 5px;
        font-weight: bold;
        letter-spacing: 2px;
        background-color: #1a0944;
        opacity: 0.89;
        color: white;
    }
 
    @media (max-width: 992px) { 
        #scroll-container {
        margin-top: 100px;
        margin-left: 20%;
        margin-right: 20%
        }

        #communityHeader {
            text-align: center;
            border-radius: 10px;
            width: 100%;
            margin-top: 100px;
            height: 90px;
            font-size: 40px
        }
      }

    