@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

#searchCard {
   width: 800px;
   padding: 20px;
   height: 560px;
   margin-top: 1%;
   margin-left: 25%;
   border-radius: 15px;
   background-color: #1a0944;
   opacity: 0.89;
}

#userHead {
   font-size: 40px;
   font-weight: bold;
   color: white;
   float: left;
   font-family: 'Raleway Dots', cursive;
  }

  #userDashBlurb {
   font-size: 20px;
   font-weight: bold;
   color: white;
   float: left;
   font-family: 'Raleway Dots', cursive;
  }

#searchHeader {
   font-size: 30px;
   font-weight: bold;
   color: white;
   font-family: 'Raleway Dots', cursive;
  }

#categoryHeader {
   font-size: 30px;
   font-weight: bold;
   font-family: 'Raleway Dots', cursive;
   color:white;
}

#searchContain {
    text-align: left;
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

#searchBtn {
    position: relative;
    float: center;
    height: 39px;
    width: 270px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgba(152, 160, 180, 10);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #fff;
}

#searchBtn1 {
   position: relative;
   float: center;
   height: 39px;
   width: 270px;
   border: 0;
   border-radius: 5px;
   text-transform: uppercase;
   font-size: 1.1em;
   letter-spacing: 0.1em;
   overflow: hidden;
   box-shadow: 0 4px 10px 0 rgba(152, 160, 180, 10);
   font-family: Helvetica, sans-serif;
   font-weight: 100;
   color: #fff;
}
#searchBtn:hover {
   background-color: rgb(191, 132, 247);
   color: white;
}
#searchBtn1:hover {
   background-color: rgb(162, 105, 214);
   color: white;
}
.fill {
    position: absolute;
    background-image: linear-gradient(to right, rgb(219, 105, 248), rgb(72, 15, 124));
    height: 70px;
    width: 420px;
    border-radius: 5px;
    margin: -40px 0 0 -140px;
    z-index: -1;
    transition: all 0.4s ease;
}
#searchBtn1:hover .fill{
   -webkit-transform: translateX(100px);
   -moz-transform: translateX(100px);
    transform: translateX(100px);
}
#searchEntry {
      width: 300px;
      height: 35px;
      position: relative;
      float: left;
      margin: 0 auto;
      padding: 10px;
      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 16px;
      line-height: 15px;
      color: white;
      background-color: transparent;
      border-radius: 10px;
      border: 1.5px solid white;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
}
 #searchEntry:hover {
    padding: 12px;
    width: 300px;
    outline: 0px;
    border: 2px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-position: 100% left;
 }
 #catDrop {
   width: 300px;
   font-size: 16px;
   line-height: 15px;
   padding-left: 10px;
   border-radius: 10px;
   background: transparent;
   border: 1.5px solid white;
   color: white;
   height: 30px;
   opacity: .85;
 }