.card-image {
    text-align: center;
}

/* structure css code */

#flipcard2 {
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    /* line-height: 300px; */
    cursor: pointer
 }

     #flipcard2 .front {
     position: absolute;
     width: 100%;
     height: 100%;
     background: transparent;
     opacity: 0.95;
     backface-visibility: hidden;
     transform: perspective(600px) rotateY(360deg);
     transition: transform 0.55s linear
 }

     #flipcard2 .back {
     position: absolute;
     width: 352px;
     height: 385px;
     font-size: 20px;
     background: white;
     opacity: 0.95; 
     border: 9px solid white;
     border-radius: 0px;
     backface-visibility: hidden;
     transform: perspective(65px) rotateY(360deg);
     transition: transform 0.55s linear;
     margin-right: 5px;
 }

    /* #flipcard2 .front {
     transform: perspective(600px) rotateY(-180deg)
 }

     #flipcard2 .back {
     transform: perspective(600px) rotateY(0deg)
 }  */

 .ul {
     text-align: center;
 }