.card-image {
    text-align: center;
}

/* structure css code */

#flipcard2 {
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    /* line-height: 300px; */
    cursor: pointer
 }

     #flipcard2 .front {
     position: absolute;
     width: 100%;
     height: 100%;
     background: transparent;
     opacity: 0.95;
     backface-visibility: hidden;
     transform: perspective(600px) rotateY(360deg);
     transition: transform 0.55s linear
 }

     #flipcard2 .back {
     position: absolute;
     width: 350px;
     height: 290px;
     font-size: 20px;
     background: rgb(160, 160, 160);
     opacity: 0.95; 
     border: 17px solid rgb(218, 218, 218);
     border-radius: 0px;
     backface-visibility: hidden;
     transform: perspective(600px) rotateY(360deg);
     transition: transform 0.55s linear
 }

    /* #flipcard2 .front {
     transform: perspective(600px) rotateY(-180deg)
 }

     #flipcard2 .back {
     transform: perspective(600px) rotateY(0deg)
 }  */

 .ul {
     text-align: center;
     margin-top: 50px
 }