.login-form {
    background-image: linear-gradient(to right, #8e46d1, rgb(85, 14, 151));
    /* background-image: linear-gradient(to right, #8e46d1, #733ea5); */
    opacity: 0.86;
    width: 425px;
    height: 326px;
    padding: 40px;
    margin-top: -20px;
    margin-left: 830px; 
    color: white;
    border-radius: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
}

#login-welcome {
    background-color: transparent;
    color: white;
}

form .btn {
    /* background-color: rgb(18, 8, 54); */
    background-image: linear-gradient(to right, rgb(18, 8, 54), rgb(36, 20, 92));
    width: 105px; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 45px; 
    color: white;
}

.btn:hover {
    color:rgb(182, 182, 182);  
}

.login-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #4e4e4e;
    border-radius: 5px; 
    font-size: 17px; 
    font-family: Arial;
}


#forgot {
    color: #ffffff;
    float: right;
    background-color: transparent;
    border: none; 
    font-weight: bold;
    cursor: pointer; 
}

#forgot:hover {
    color:rgb(182, 182, 182);  
}


