#adminEditCap {
    width: 900px; 
    padding: 50px; 
    margin-left: 25%; 
    margin-top: 60px;
    border-radius: 20px; 
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(18, 8, 54);
    opacity: 0.95; 
    color: white; 
}

#admin-editMila {
    font-size: 30px; 
    font-family: 'Pacifico', cursive;
    color: white; 
    font-weight: 100;
    cursor: pointer;
}

