.card-image {
    text-align: center;
}

/* structure css code */

#flipcardComm {
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    /* line-height: 300px; */
    cursor: pointer
 }

     #flipcardComm .front {
     position: absolute;
     width: 100%;
     height: 100%;
     background: transparent;
     opacity: 0.95; 
     backface-visibility: hidden;
     transform: perspective(600px) rotateY(360deg);
     transition: transform 0.55s linear
 }

     #flipcardComm .back {
     position: absolute;
     width: 352px;
     height: 385px;
     font-size: 20px;
     background: rgb(185, 184, 184);
     opacity: 0.95; 
     border: 9px solid rgb(218,218,218);
     border-radius: 0px; 
     backface-visibility: hidden;
     transform: perspective(65px) rotateY(360deg);
     transition: transform 0.55s linear;
     margin-right: 5px;
 }

    /* #flipcard:hover .front {
     transform: perspective(600px) rotateY(-180deg)
 }

     #flipcard:hover .back {
     transform: perspective(600px) rotateY(0deg)
 }  */

 .ul {
     text-align: center;
 }