.card-image {
    text-align: center;
}

/* structure css code */

#flipcard {
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    /* line-height: 300px; */
    cursor: pointer
 }

     #flipcard .front {
     position: absolute;
     width: 100%;
     height: 100%;
     background: #8e46d1;
     opacity: 0.9; 
     border-radius: 40px; 
     backface-visibility: hidden;
     transform: perspective(600px) rotateY(0deg);
     transition: transform 0.55s linear
 }

     #flipcard .back {
     position: absolute;
     margin: 50px;
     width: 100%;
     height: 100%;
     font-size: 20px;
     background: #4f1288;
     opacity: 0.95; 
     border-radius: 40px; 
     backface-visibility: hidden;
     transform: perspective(600px) rotateY(180deg);
     transition: transform 0.55s linear
 }

    #flipcard:hover .front {
     transform: perspective(600px) rotateY(-180deg)
 }

     #flipcard:hover .back {
     transform: perspective(600px) rotateY(0deg)
 } 

 .ul {
     text-align: center;
     margin-top: 50px
 }